.container {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  gap: 10px;
}

@media screen and (max-width: 1225px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.undoBtn {
  margin: 20px;

  &:hover {
    .undoIcon {
      fill: #000;
    }
  }
}

.undoIcon {
  width: 40px;
  height: 40px;
  fill: var(--dark-theme-main-color);
  transition: fill 0.2s;
}
