@import './vars.scss';

.letter {
  font-size: 30px;
  font-weight: 500;
  line-height: 1em;
  position: relative;
  transition: color .3s;

  &:before {
    content: '';
    position: absolute;
    width: 2px;
    background: gray;
    transition: opacity .1s;
  }
}

.correct {
  color: #fff;
}

.incorrect {
  color: $incorrect-color;
}

.incorrectExtra {
  color: $incorrect-extra-color;
}

.none {
  &:before {
    opacity: 0;
  }
}

.before {
  &:before {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

.after {
  &:before {
    opacity: 1;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

