.icon {
  transition: fill 0.1s;
  fill: var(--dark-theme-main-color);
}

.button {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  user-select: none;
  transition: color 0.1s;
  font-size: 20px;

  &:hover {
    color: #000;

    .icon {
      fill: #000;
    }
  }
}
