@import './vars.scss';

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  background: $dark-theme-bg-color;
  z-index: 500;
  border-radius: 5px;
  padding: 5px;
}

.searchBar {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.searchIcon {
  padding: 1rem 1rem 1rem 1rem;
  user-select: none;
}

.searchInput {
  background: $dark-theme-bg-color;
  border: none;
  color: $dark-theme-main-color;
  font-size: 1rem;
  outline: none;
  padding: 1rem 1rem 1rem 0;
  width: 100%;
}

.separator {
  width: 90%;
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

